{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<div class="text-center " >
    <h1 class="text-center " style="margin-top:3em;">Bienvenue sur la page d'accueil</h1>
</div>


{% endblock %}
