{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<div class="text-center " >
    <h1 class="text-center " style="margin-top:3em;">Bienvenue sur la page d'accueil</h1>
</div>

<div class="form-block">
    {# {% for product in products %} #}    
        <div class="row justify-content-center">
            <div class="col-md-4"> 
                <div class="login-card ">
                    <div class="card-header">
                        ici la photo
                    </div>

                    <div class="card-body">
                        ici la description 
                    </div>
                </div>
            </div> 
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4"> 
                <div class="login-card ">
                    <div class="card-header">
                        ici la photo
                    </div>

                    <div class="card-body">
                        ici la description 
                    </div>
                </div>
            </div> 
        </div>
</div>
{# {% endfor %} #}


{% endblock %}
