{% extends 'base.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}
<div class="login-card">
    <h2 class="mb-4 text-center">Ajouter une categorie</h2>

    {{ form_start(form) }} 
        {{ form_row(form.name, {'attr': {'class': 'form form-control'}}) }} 


        <div class="d-grid gap-2 d-md-flex justify-content-md-end mx-2">
            <button type="submit" class="btn btn-sm btn-green">Ajouter</button>
            <a href="{{ path('app_category') }}" class="btn btn-sm btn-outline-green">Retour</a>
        </div>

    {{ form_end(form) }} 
</div>
{% endblock %}