{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
<div class="register-card">
    <h1 class="mb-4 text-center">Modifier une categorie</h1>

    {{ form_start(form) }} 
        {{ form_row(form.name, {'attr': {'class': 'form form-control'}}) }} 


        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary">Modifier</button>
            <a href="{{ path('app_category') }}" class="btn btn-light border border-primary">Retour</a>
        </div>

    {{ form_end(form) }} 
</div>
{% endblock %}