{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
<div class="login-card">
    <h2 class="mb-4 text-center">Ajouter un Produits</h2>
    {{ include('product/_form.html.twig',{'button_label': 'Ajouter'}) }}
</div>
{% endblock %}
