{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block body %}
<div class="login-card">
    <h2 class="mb-4 text-center">Modifier sous-catégorie</h2>
    {{ include('sub_category/_form.html.twig', {'button_label': 'modifier'}) }}

</div>
{% endblock %}
