/* :root {
     --green-700: #6c1469;  
  } */

  .parallax {
    /* background-image: url('/img/bg.jpg'); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(15px);
    backdrop-filter: opacity(50%);
}
  /*----------------Style pour page d'acceuil-----------------*/
  /*-----carte produit acceuil-----*/

.card {
    border-radius: 0 !important;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%;
}

.card:hover {
    transform: translateY(-6px) scale(1.03);
}

.card-img-top {
    height: 220px;
    border-radius: 0 !important;
    object-fit: cover;
}

.card-body {
    min-height: 160px;
}

.price-tag {
    font-size: 0.80rem;
    color: #0d3c21;;
    font-weight: 600;
}
/*--------------------------------les Produit-Admin --------------------------------*/
.product-card{
    width: 90%;
    margin: 0 auto;
    padding: 0 0 15px 0px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.255);
    background: #fff;
}

.historique-card {
    width: 600px;
    margin: 0 auto;
    padding: 0 0 15px 0px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.255);
    background: #fff;
}
/* .card {
    box-shadow: 0 8px 32px rgba(0,0,0,0.255);
} */
/*-------------------------------page Utilisateurs -------------------------*/
.user-Card{
    width: 70%;
    margin: 0 auto;
    padding: 0 0 15px 0px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.255);
    background: #fff;
}

.login-card {
    width: 30%;
    margin: 40px auto;
    padding: 15px 20px 15px 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.255);
    background: #fff;
    margin-top: 10em;
}
/*----------------Style pour Inscription et Connexion-------------------------*/

.form-control {
    border: none !important;
    border-bottom: 1px solid #9e9f9f !important;
    border-radius: 0 !important;
    background: transparent !important;
    box-shadow: none;
    padding: 0 !important;
}
.form-control:focus {
    border-bottom: 2.5px solid #0056b3 !important;
    box-shadow: none !important;
    outline: none !important;
}
.form-label {
    font-weight: 200;
    color: #495057;
    margin-bottom: 0 !important;
}
.register-card {
    max-width: 500px;
    margin: 30px auto;
    padding: 32px 24px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.255);
    background: #ffffff;
    margin-top: 8em;
}
.category-card{
    width: 50%;
    margin: 0 auto;
    padding: 0 0 15px 0px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.255);
    background: #fff;
}

@media (min-width: 768px) {
    .name-row {
        display: flex;
        gap: 24px;
    }
    .name-row .form-group {
        flex: 1 1 0%;
        margin-bottom: 0;
    }
}
@media (max-width: 767px) {
    .name-row .form-group {
        margin-bottom: 1rem;
    }
}
/*----------------Les Boutton-------------------------*/
.btn-green{
    background-color: #0d3c21 !important;
    color: #fff !important;
}
.btn-green:hover {
    background-color: #fff !important;
    color:#0d3c21 !important;
    border: 1px solid #0d3c21   !important;
}

.btn-outline-green {
    color: #0d3c21 !important;
    border-color: #0d3c21 !important;
}
.btn-outline-green:hover {
    background-color: #0d3c21 !important;
    color: #fff !important;
}

.btn-xs {
    padding: 0.0rem 0.2rem !important;
    font-size: 0.70rem !important;
    border-radius: 0.2rem !important;
}


.order-card{
    width: 50%;
    margin: 0 auto;
    padding: 0 0 15px 0px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.255);
    background: #fff;
}

