<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="parallax d-flex flex-column min-vh-100">
        {% block nav %}
            {% include 'layouts/navbar.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
    <footer>
    {% block footer %}
        <div class="footer mt-auto py-3 bg-info">
            <div class="container text-center">
                <p class="text-center mb-0">© {{ "now"|date("Y") }} - Amine EL KHAL</p>
            </div>
        </div>
    {% endblock %}
    </footer>
</html>
