{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<div class='container'>
    <div class='row'>
        <div class='col-8'>
            <h1 class='mt-4 mb-4'> commande </h1>
            {{ form_start(form)}}
             <input type="submit" value="continuer" class="btn btn-sm btn-primary"/>
        </div>
        <div class='col-4'>

        </div>
    </div>
</div>
<div class="col-4 mt-5">
    <span class="mb-2">Montant a payer :</span>
    <h3>
        {# <span id="card-price">Total: {{ total }} </span>€ #}
    </h3>
    <span class="mb-2">Frais de livraison :</span>
</div>

 
 <script   src="https://code.jquery.com/jquery-3.7.1.min.js"   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="   crossorigin="anonymous"></script> 
<script>
    $(document).ready(function(){
        const citySelector = $('#order_city'); // select l'element html qui a l'id order_city et le stocké dans la variable citySelector
        const cityValue = citySelector.val();}) // recupérè la valeur acctuelle de l'éléments citySelector (liste déroulant des villes) et le stock dans la variable cityValue
        
    
</script>
{% endblock %}
