{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
 <h1 class="text-center mb-5" style="margin-top:3em;">Votre Commande</h1>
<div class='order-card'>
    <div class='row align-self-center'>
        <div class='col-5  mx-5 my-5'>
            {{ form_start(form)}}
            {{ form_widget(form) }}
             <input type="submit" value="continuer" class="btn btn-sm btn-primary"/>
            {{ form_end(form) }}
        </div>

        <div class=' col-3 align-self-center '>
            <span class="mb-2">Montant a payer :</span>
            <h5>
                <span id="card-price">Total: {{ total }} </span>€
            </h5>
            <span class="mb-2">Frais de livraison :</span>
            <h5>
                <span id="shippingCost"></span>€
            </h5>
            <span class="mb-2">Montant Total a payer :</span>
            <h5>
                <span class="total_price"></span>€
            </h5>
        </div>
    </div>
</div>
 



<script src="https://code.jquery.com/jquery-3.7.1.min.js"   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="   crossorigin="anonymous"></script> 
<script>
    $(document).ready(function(){
        const citySelector = $('#order_city'); // select l'element html qui a l'id order_city et le stocké dans la variable citySelector
        const cityValue = citySelector.val();
    // recupérè la valeur acctuelle de l'éléments citySelector (liste déroulant des villes) et le stock dans la variable cityValue
    const url = `city/${cityValue}/shipping/cost`; // construit l'url pour la requete ajax en utilisant la valeur de la ville
        
        function ajaxRequest(url){
            $.ajax({
                url: url, // l'url de la requete
                type: 'GET', // la méthode de la requete
                success: function(response) { 
                   const newResponse = JSON.parse(response); // parse la réponse json
                   if (parseInt(newResponse.status) === 200) { // si le status de la réponse est 200
                      console.log(newResponse.status)
                      $("#shippingCost").text(newResponse.content); 
                    }
                },
                error:function(xhr,status,error) {
                // console.error('AJAX Error:', status, error);
                // alert('Failed to load shipping cost. Please try again later.');
                }
            });
        }
        ajaxRequest(url); 
            citySelector.on('change', function() {
                const urlUpdate = `city/${$(this).val()}/shipping/cost`;
                ajaxRequest(urlUpdate);
            });       
    }) 
</script>
{% endblock %}

