{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
 <h1 class="text-center mb-5" style="margin-top:3em;">Votre Commande</h1>
<div class='order-card text-center'>
   
        Votre commande a bien été enregistrée.
    
</div>
 
{% endblock %}

